html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.contenedor{
    max-width: 1200px;
    margin-inline: auto;
}

h1{
    font-size: 5rem;
    color: white;
    font-family:'Kode Mono','Times New Roman', Times, serif;
}

@media (max-width: 1000px){
    h1{
        font-size: 3rem;
    }
}

@media (max-width: 767px){
    h1{
        font-size: 2rem;
    }
}

h2{
    text-align: center;
    font-size: 4rem;
    border-block: solid 2px rgba(128, 0, 167, 0.466);
    padding: 10px;

}

@media (max-width: 767px){
    h2{
        font-size: 2.5rem;
    }
}

h2 span{
    color: rgba(128, 0, 167, 0.733);
}

p span{
    color: rgba(128, 0, 167, 0.733);
}

.header{
    display: flex;
    padding-top: 1.5rem;
    background: linear-gradient(45deg,rgba(68, 7, 87, 0.733),rgba(255, 255, 255, 0.877));
}





.imagen-header{
    background-image: url(../img/logo-removebg-preview.png);
    background-position: center;
    flex-basis: 30%;
    object-fit: cover;
    background-repeat: no-repeat;
}



.cabecera-navegacion{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background-color: rgba(0, 0, 0, 0.63);
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    
}

@media (max-width: 767px) {
    .nav-principal{
        flex-wrap: wrap;
    }
}

.nav-principal a{
    color: white;
    font-size: 1.5rem;
    font-family: 'Kode Mono';
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    border: solid 1px white;
    
}

.nav-principal a:hover,
.nav-principal a:focus{
    background-color: rgba(238, 238, 13, 0.699);
    text-decoration: underline;
}

.en-la-pagina{
    background-color: rgba(238, 238, 13, 0.699);
}

.quienes-somos{
    display: flex;
    justify-content: space-around;
    padding-inline: 4rem;
    background-image: url(../img/fondo-quienes.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    transition: 5s;
}

.quienes-somos:hover{
    background-position: center;
}

.fondo2{
    position: absolute;
    height: 400px;
    padding: 20px;
    transition: 2s;
    object-fit: cover;
}

.quienes-somos:hover .fondo2{
    filter: blur(50px);
    transition: 3s;
}

.quienes-somos:hover .frontal-quienes{
    opacity: 1;
    transition: 3s;
}

.frontal-quienes{
    transition: 2s;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    width: 1000px;
    z-index: 1;
    opacity: 0;
}

.frontal-quienes h2{
    border: none;
}


.frontal-quienes p{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.enlace-flex-inicial a{
    max-width: 400px;
    font-size: 2.5rem;
    box-shadow: 0 0 20px  rgba(238, 238, 13, 0.699);
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 60px;
    background-color: rgba(238, 238, 13, 0.699);
    color: white;
}

.enlace-flex-inicial a:hover{
    text-decoration: underline;
    background-color: rgb(238, 238, 13);
    box-shadow: 0 0 20px  rgba(238, 238, 13, 0.904);
}

.enlace-flex-inicial{
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0%, 100%{transform: scale(1);}
    50%{transform: scale(1.1);}
}


.seccion-historia{
    padding-bottom: 40px;
    margin-top: 20px;
}

.historia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-historia{
    padding-top: 20px;
    margin: 20px;
}



.carta{
    background-color: transparent;
    width: 500px;
    height: 500px;
    position: relative;
    transform: 0.6s;
    transform-style: preserve-3d;
    transition: 1s;
}


.articulo-historia:hover .carta{
    transform: rotateY(180deg);
    transition: 1s;
}


.imagen-art-hist1, .imagen-art-hist2,
.imagen-art-hist3, .explicacion-hist{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
}


.imagen-art-hist1{
    background-image: url(../img/primeros\ pasos.webp);
}

.imagen-art-hist2 {
    background-image: url(../img/digitalizacion\ y\ seguridad.webp);
}

.imagen-art-hist3{
    background-image: url(../img/industria-4.0.jpg);
}

.titulo-hist h3{
    display: grid;
    text-align: center;
    place-items: center;
    font-size: 3.5rem;
    backdrop-filter: blur(10px);
    color: white;
    width: 500px;
    height: 140px;
    text-shadow: 0 0 10px white;
}
@media (max-width: 767px){
    
    .carta{
        width: 300px;
        height: 750px;
    }

    .articulo-historia:hover .carta{
        transform: none;
    }

    .articulo-historia:active .carta{
        transform: rotateY(180deg);
    }

    .titulo-hist h3{
        font-size: 2.7rem;
        width: 300px;
    }
}


.explicacion-hist{
    position: absolute;
    background: rgba(128, 0, 167, 0.466);
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    text-align: center;
    border-radius: 100px;
}

.explicacion-hist h3{
    font-size: 3rem;
}

.explicacion-hist p{
    font-size: 22px;
}

/* dento de img {onmnouseover="this.src='....'" y onmouseout} */



.innovacion{
    display: flex;
    height: 700px;
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    justify-content: center;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 40px;
}


.imagen-innovacion{
    position: absolute;
    object-fit: cover;
    height: 500px;
    width: 700px;
    transition: 2s;
    /*
    display: grid;
    justify-content: center;^
    */
    animation: pulse 3s infinite;
}

.innovacion:hover{
    background-color: rgba(128, 0, 167, 0.329);
    transition: 2s;
}

.innovacion:hover .imagen-innovacion{
    translate: 250px;
    transition: 2s;
    width: 500px;
    height: 100%;
    animation: none;
}

.innovacion:hover p{
    opacity: 1;
    transition: 2s;
}

.texto-innovacion p{
    font-size: 30px;
    margin-right: 500px;
    margin-top: 0;
    color: white;
}


.texto-innovacion h3{
    font-size: 40px;
    text-align: center;
}

.texto-innovacion h3 span{
    color: rgba(128, 0, 167, 0.733);
}

@media (max-width: 900px){
    .innovacion{
        width: 650px;
        background-color: rgba(128, 0, 167, 0.329);
        height: 900px;
    }
    .imagen-innovacion{
        animation: none;
        width: 500px;
    }

    .texto-innovacion p{
        margin-inline: 40px;
        margin-top: 300px;
    }

    .innovacion:hover .imagen-innovacion{
        translate: 0;
    }
    .texto-innovacion h3,
    .texto-innovacion h3 span{
        color: white;
    }
    .texto-innovacion h3 span{
        text-decoration: underline;
    }
}

@media (max-width: 767px){
    .innovacion{
        width: 300px;
    }
    .imagen-innovacion{
        width: 300px;
    }
    .innovacion:hover .imagen-innovacion{
        width: 300px;
    }

    .texto-innovacion p{
        font-size: 20px;
        margin-inline: 10px;
        margin-top: 200px;
    }

    .texto-innovacion h3{
        font-size: 27px;
        margin-top: 30px;
    }
}

.innovacion:hover h3{
    color: white;
    transition: 1s;
}

.innovacion:hover h3 span{
    color: white;
    transition: 1s;
    text-decoration: underline;
}



.fabrica-futuro{
    background-image: url(../img/fondo-lafabrica-delfuturo.avif);
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    transition: 5s;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 20px;
}

.fabrica-futuro:hover{
    background-position-y: 0px;
}

.fabrica-futuro h2{
    color: white;
    text-shadow: 0 0 40px;
    border-block: none;
}

.fabrica-futuro p{
    font-size: 40px;
    color: white;
    padding-inline: 100px;
    padding-block: 30px;
    width: 80%;
    margin: auto;
}

.fabrica-futuro span{
    color: red;
    text-shadow: 0 0 20px;
}

.fabrica-futuro a{
    backdrop-filter: blur(100px);
    padding: 10px 30px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    transition: 2s;
    margin-top: 50px;
    background-color: rgba(238, 238, 13, 0.699);
    box-shadow: 0 0 30px;
}

@media (max-width: 900px){
    .fabrica-futuro p{
        font-size: 30px;
        padding-inline: 15px;
    }

    .fabrica-futuro a{
        font-size: 40px;
    }
}

@media (max-width: 767px){
    .fabrica-futuro p{
        font-size: 25px;
    }
    .fabrica-futuro a{
        font-size: 25px;
        text-align: center;
        margin-inline: 15px;
    }
}



.footer{
    padding-top: 35px;
    border-top: solid 1px rgba(128, 0, 167, 0.733);
}

.footer p{
    padding-top: 40px;
    text-align: center;
}

.footer-arriba{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 900px){
    .footer-arriba{
        padding-inline: 20px;
    }
}

@media (max-width: 767px){
    .footer-arriba{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .nav-footer{
        padding-bottom: 15px;
    }
}

.footer h4{
    font-size: 40px;
    color: gray;
    margin-top: 0;
    margin-bottom: 15px;
}

.nav-footer a{
    font-size: 20px;
    display: grid;
    margin-bottom: 10px;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-footer a:hover{
    text-decoration: underline;
}

