html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.contenedor{
    max-width: 1200px;
    margin-inline: auto;
}

h1{
    font-size: 5rem;
    color: white;
    font-family:'Kode Mono','Times New Roman', Times, serif;
}

h1 span{

}

h2{
    text-align: center;
    font-size: 4rem;
}

h2 span{
    color: rgba(128, 0, 167, 0.733);
}

/*
h2{
    font-size: 3.5rem;
}

h3{
    font-size: 2.5rem;
    rgba(0, 0, 0, 0.877);
}

*/

.header{
    display: flex;
    padding-top: 1.5rem;
    background: linear-gradient(45deg,rgba(68, 7, 87, 0.733),rgba(255, 255, 255, 0.877));
}
.imagen-header{
    background-image: url(../img/logo-removebg-preview.png);
    background-position: center;
    flex-basis: 30%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.cabecera-navegacion{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background-color: rgba(0, 0, 0, 0.63);
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    
}

.nav-principal a{
    color: white;
    font-size: 1.5rem;
    font-family: 'Kode Mono';
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    border: solid 1px white;
    
}

.nav-principal a:hover,
.nav-principal a:focus{
    background-color: rgba(238, 238, 13, 0.699);
}

.en-la-pagina{
    background-color: rgba(238, 238, 13, 0.699);
}

/*
.flex-inicial{
    display: flex;
    height: 35rem;
}

.flex-inicial img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
}

.flex-inicial img:hover{
    transition: 2s;
    width: 100%;
}

*/



.quienes-somos{
    display: flex;
    justify-content: space-around;
    padding-inline: 4rem;
    background-image: url(../img/fondo-quienes.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 3.5rem;
    transition: 5s;
}

.quienes-somos:hover{
    background-position: center;
}

.quienes-somos img{
    margin: auto;
    width: 0;
}

.quienes-somos:hover img{
    width: 40%;
    transition: 2s;
}


.flex-quienes{
    padding-bottom: 40px;
    margin-top: 10px;
    margin: auto;
    flex-basis: 50%;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.flex-quienes img{
    margin: auto;
    width: 0;
}


.quienes-somos h2{
    font-size: 5rem;
    color: rgba(0, 47, 255, 0.747);
    text-shadow: 0 0 10px rgba(0, 162, 255, 0.637);
}

.fondo-letras{
    background: linear-gradient(45deg, rgba(0, 47, 255, 0.747), rgba(0, 0, 0, 0.603));
    background-position: cover;
    background-size: 150%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animacion-flip 2s ease;
}

@keyframes animacion-flip{

}


.flex-quienes p{
    font-size: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5rem;
}
.enlace-flex-inicial{
    animation: pulse 2s infinite;
}

.enlace-flex-inicial a{
    max-width: 400px;
    font-size: 2.5rem;
    box-shadow: 0 0 20px  rgba(255, 217, 0, 0.747);
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 60px;
    background-color: rgba(255, 217, 0, 0.747);
    color: white;
}

@keyframes pulse{
    0%, 100%{transform: scale(1);}
    50%{transform: scale(1.1);}
}

/*
.grid-quienes{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}


.categorias-quienes{
    box-shadow: 1px 1px 10px 2px rgba(25, 25, 172, 0.61);
    border-radius: 1rem;
    margin: 25px;
}

.categorias-quienes h3{
    color: rgba(0, 0, 255, 0.589);
    font-size: 1.2rem;
    text-align: center;
}
*/

.seccion-historia{
    background-image: url(../img/fondo-historia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    border-block: solid 5px;
    margin-top: 20px;
}

.seccion-historia h2{
    font-size: 100px;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
    margin-top: 10px;
}

.historia{
    display: flex;
    justify-content: space-around;
}

.articulo-historia{
    width: 500px;
    height: 500px;
    margin: 20px;
}

.carta{
    background-color: transparent;
    width: 500px;
    height: 500px;
    position: relative;
    transform: 0.6s;
    transform-style: preserve-3d;
}

.articulo-historia:hover .carta{
    transform: rotateY(180deg);
    transition: 1s;
}


.imagen-art-hist1, .imagen-art-hist2,
.imagen-art-hist3, .explicacion-hist{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
}


.imagen-art-hist1{
    background-image: url(../img/primeros\ pasos.webp);
}

.imagen-art-hist2 {
    background-image: url(../img/digitalizacion\ y\ seguridad.webp);
}

.imagen-art-hist3{
    background-image: url(../img/industria-4.0.jpg);
}

.titulo-hist h3{
    display: grid;
    text-align: center;
    place-items: center;
    font-size: 3.5rem;
    backdrop-filter: blur(10px);
    color: white;
    width: 500px;
    height: 140px;
    text-shadow: 0 0 10px white;
}

.explicacion-hist{
    position: absolute;
    background: linear-gradient(45deg,rgba(128, 0, 167, 0.932),rgba(68, 7, 87, 0.726));
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding-inline: 50px;
    text-align: center;
    border-radius: 100px;
}

.explicacion-hist h3{
    font-size: 3rem;
}

.explicacion-hist p{
    font-size: 22px;
}

/* dento de img {onmnouseover="this.src='....'" y onmouseout} */

.fabrica-futuro{
    background-image: url(../img/fondo-lafabrica-delfuturo.avif);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    transition: 5s;
    grid-template-rows: repeat(4, 1fr);
    
}

.fabrica-futuro:hover{
    background-position-y: 0px;
    transform: scale(1.08);
}

.fabrica-futuro h2{
    color: white;
    text-shadow: 0 0 40px;
}

.fabrica-futuro p{
    font-size: 40px;
    color: white;
    padding-inline: 100px;
    padding-block: 30px;
    width: 80%;
    margin: auto;
}

.fabrica-futuro span{
    color: red;
    text-shadow: 0 0 20px;
}

.fabrica-futuro a{
    backdrop-filter: blur(100px);
    padding: 10px 30px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    transition: 2s;
    margin-top: 50px;
    background-color: rgba(238, 238, 13, 0.699);
    box-shadow: 0 0 30px;
}





.footer{
    padding-top: 35px;
    border-top: solid 1px rgba(128, 0, 167, 0.733);
}

.footer p{
    padding-top: 40px;
    text-align: center;
}

.footer-arriba{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-footer a{
    font-size: 20px;
    display: grid;
    margin-bottom: 10px;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

