

.inicio-productos-servicios{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding-top: 30px;
    transition: 3s;
}

.inicio-productos-servicios h2{
    border-block: none;
}

.inicio-productos-servicios img{
    object-fit: cover;
    width: 400px;
    height: 400px;
    position: absolute;
    transition: 3s;
}

.letras-inicio-productos{
    position: absolute;
    width: 500px;
    opacity: 0;
    transition: 2s;
}

.inicio-productos-servicios:hover{
    height: 600px;
}

.inicio-productos-servicios:hover .imagen-derecha{
    translate: 500px;
    transition: 3s;
}

.inicio-productos-servicios:hover .imagen-izquierda{
    translate: -500px;
    transition: 3s;
}

.inicio-productos-servicios:hover .letras-inicio-productos{
    opacity: 1;
    transition: 3.5s ease-in;
    padding-top: 15px;
}

.letras-inicio-productos a{
    color: rgba(128, 0, 167, 0.733);
}

.letras-inicio-productos a:hover{
    text-decoration: underline;
}

@media (max-width: 900px){
    .inicio-productos-servicios h2{
        font-size: 50px;
    }

    .inicio-productos-servicios:hover{
        height: 400px;
    }

    .inicio-productos-servicios:hover .imagen-derecha{
        translate: 200px;
        z-index: -2;
        filter: blur(20px);
    }

    .inicio-productos-servicios:hover .imagen-izquierda{
        translate: -200px;
        z-index: -1;
        filter: blur(20px);
    }
}

@media (max-width:767px){
    .letras-inicio-productos{
        width: 300px;
    }
    .inicio-productos-servicios h2{
        font-size: 35px;
    }

    .inicio-productos-servicios:hover .imagen-derecha{
        translate: 0;
    }
    .inicio-productos-servicios:hover .imagen-izquierda{
        translate: 0;
        z-index: -1;
        filter: blur(50px);
    }

}


.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.producto{
    margin: 20px;
    border-radius: 40px;
    opacity: .8;
    transition: .5s;
    background-color: rgba(128, 0, 167, 0.466);
}



.imagen-producto{
    overflow: hidden;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.imagen-producto img{
    height: 400px;
    object-fit: cover;
    width: 100%;
    transition: 1s;
}


.producto h4{
    text-align: center;
    font-size: 28px;
    color: white;
}

@media (max-width: 900px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .producto{
        height: 400px;
        width: 300px;
    }
    .imagen-producto{
        height: 300px;
    }
}

@media (max-width: 767px){
    .producto{
        height: 200px;
    }
    .imagen-producto{
        height: 150px;
        width: 100%;
    }

    .producto h4{
        font-size: 25px;
        margin-top: 10px;
    }
}

.producto:hover{
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px;

}

.producto:hover h4{
    text-decoration: underline white;
}

.producto:hover img{
    transform: scale(1.2) rotate(8deg);
}

.servicios{
    display:grid;
    row-gap: 30px;
}

.servicio{
    display: flex;
    flex-wrap: wrap;
    opacity: 0.85;
    height: 100px;
    transition: 2s;
}

.servicio:hover{
    transition: 3s;
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.1);
    height: 300px;
}


.imagen-servicio-impar{
    height: 100%;
    flex-basis: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;  
    transition: 2s;
}

.imagen-servicio-par{
    height: 100%;
    flex-basis: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;  
    transition: 2s;
}

.letra-servicio-impar{
    background-color: rgba(128, 0, 167, 0.466);
    color: white;
    height: 100%;
    flex-basis: 50%;
    font-size: 30px;
    margin: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 2s;
}


.letra-servicio-par{
    background-color: rgba(128, 0, 167, 0.466);
    color: white;
    height: 100%;
    flex-basis: 50%;
    font-size: 30px;
    margin: auto;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 2s;
}

.servicio:hover .servicio1,
.servicio:hover .servicio3,
.servicio:hover .servicio5{
    transition: 1s;
    border-top-left-radius: 550px;
    border-bottom-left-radius: 150px;
}

.servicio:hover .servicio2,
.servicio:hover .servicio4{
    transition: 1s;
    border-top-right-radius: 550px;
    border-bottom-right-radius: 150px;
}

.servicio:hover .letra-servicio-impar{
    transition: 1s;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 550px;
}

.servicio:hover .letra-servicio-par{
    transition: 1s;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 550px;
}



.servicio h4{
    text-align: center;
    margin-block: 15px;
}

.servicio p{
    padding-block: 15px;
    font-size: 30px;
}

.letra-servicio-impar p{
    padding-inline: 30px;
    opacity: 0;
}
.servicio:hover .letra-servicio-impar p{
    opacity: 1;
    transition: 3s;
}

.letra-servicio-par p{
    padding-left: 80px;
    padding-right: 10px;
    opacity: 0;
}

.servicio:hover .letra-servicio-par p{
    opacity: 1;
    transition: 3s;
}

@media (max-width: 900px){
    .servicios{
        justify-content: center;
    }
    
    .servicio{
        height: 300px;
        width: 700px;
        
    }

    .servicio:hover{
        transform: none;
    }

    .letra-servicio-par p,
    .letra-servicio-impar p{
        opacity: 1;
        font-size: 23px;
    }

    .servicio:hover .letra-servicio-par{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    .servicio:hover .letra-servicio-impar{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px; 
    }
}

@media (max-width: 767px){
    .servicio{
        flex-direction: column;
        width: auto;
    }
}

.servicio1{
    background-image: url(../img/servicio-analisis\ de\ datos.webp);
    background-position: center;
    background-size: cover;
}

.servicio2{
    background-image: url(../img/servicio-celula\ robotizada.webp);
    background-position: center;
    background-size: cover;
}

.servicio3{
    background-image: url(../img/servicio-redes\ industriales.webp);
    background-position: center;
    background-size: cover;
}

.servicio4{
    background-image: url(../img/servicio-big\ data.webp);
    background-position: center;
    background-size: cover;
}

.servicio5{
    background-image: url(../img/servicio-ciberseguridad.webp);
    background-position: center;
    background-size: cover;
}

.formulario{
    width: 800px;
    padding: 30px;
    margin: auto;
    background-color: rgba(128, 0, 167, 0.356);
    border-radius: 30px;
}


.formulario h3{
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 0 0 25px;
    text-decoration: underline;
}

.formulario h4{
    color: white;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

.div-catalogo{
    position: relative;
}

.inputs-catalogo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    background-color: rgba(128, 0, 167, 0.356);
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 20px;
    border: solid 3px white;
    font-size: 20px;
    color: white;
    outline: none;
    background: none;
}

.etiqueta-catalogo{
    color: white;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 25px;
}

.formulario p{
    height: 60px;
    font-size: 20px;
    color: white;
}

.parte-abajo-catalogo{
    display: flex;
    justify-content: space-between;
}

.parte-abajo-catalogo p{
    font-size: 25px;
    height: auto;
}

.optiongroup-catalogo{
    color: white;
}

.textarea-catalogo{
    margin-bottom: 25px;
}

.textarea-catalogo p{
    font-size: 25px;
    margin-bottom: 0;
}

.areadetexto{
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 740px;
}

@media (max-width: 900px){
    .formulario{
        width: 700px;
    }
    .areadetexto{
        width: 650px;
    }
}


.formulario a{
    color:white;
}

.formulario a:hover{
    text-decoration: underline;
}

.boton-catalogo{
    width: 100%;
    font-size: 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(177, 224, 81);
    color: white;
    padding: 10px;
}

@media (max-width: 767px){
    
    .formulario{
        width: 300px;
        transition: 2s;
    }

    .formulario h3{
        font-size: 3rem;
    }

    .formulario h4{
        font-size: 1.5rem;
    }

    .parte-abajo-catalogo{
        flex-wrap: wrap;
    }

    .areadetexto{
        width: 250px;
    }

    .boton-catalogo{
        font-size: 20px;
    }
}


.boton-catalogo:hover{
    background-color: rgba(197, 252, 87, 0.911);
}

.inputs-catalogo:focus + .etiqueta-catalogo,
.inputs-catalogo:not(:placeholder-shown) + .etiqueta-catalogo{
    transition: 0.7s;
    transform: translateY(-35px) scale(.7);
    transform-origin: left top;
}

.formulario-catalogo img{
    margin: 30px auto;
    height: 300px;
}

