.nosotros .carta{
    margin: auto;
    height: 600px;
}

.foto-frontal, .cara-trasera{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.cara-trasera{
    opacity: 0;
    text-align: center;
}

.foto-frontal img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nosotros:hover .foto-frontal{
    translate: -250px;
    transition: 2s;
}

.nosotros:hover .cara-trasera{
    translate: 250px;
    transition: 2s;
    opacity: 1;
}

@media (max-width: 800px){
    .nosotros:hover .cara-trasera,
    .nosotros:hover .foto-frontal{
        translate: none;
    }

    .nosotros:hover .foto-frontal{
        opacity: .1;
    }
}

@media (max-width: 767px){
    .nosotros:hover .cara-trasera,
    .nosotros:hover .foto-frontal{
        translate: none;
    }
    .nosotros .cara-trasera{
        opacity: 1;
    }

    .nosotros .cara-trasera h3{
        opacity: 0;
    }

    .nosotros .cara-trasera h5{
        translate: 0 -120px;
    }

    .nosotros .foto-frontal{
        opacity: .1;
    }
}

.cara-trasera h2{
    border-block: none;
}

.cara-trasera h3{
    font-size: 45px;
}

.cara-trasera h5{
    font-size: 30px;
}

.cara-trasera h5 span{
color: rgba(128, 0, 167, 0.733);
}


.grid-el-cliente{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    gap: 10px;
}


.sobre-nosotros{
    display: flex;
    margin-bottom: 10px;
    height: 600px;
    opacity: 0.8;
}

.sobre-nosotros:hover{
    opacity: 1;
    filter: contrast(120%);
}

@media (max-width: 1000px){
    .grid-el-cliente{
        display: flex;
        flex-wrap: wrap;
    }
}




.imagen-sobre-nosotros{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    object-fit: cover;
    flex-basis:50%;
}


.imagen-comprometidos{
    background-image: url(../img/sobre_nosotros.webp);
    background-position: right;
}

.texto-sobre-nosotros{
    background-color:rgba(128, 0, 167, 0.466);
    color: white;
    flex-basis: 50%;
    transition: 2s;
}

.texto-sobre-nosotros h2{
    margin-bottom:0;
    margin-top: 20px;
    padding-inline: 20px;
    border-block: none;
}

.texto-sobre-nosotros p{
    padding: 40px;
    font-size: 25px;
}

.imagen-afianzando-vinculos{
    background-image: url(../img/afianzando-vinculos.webp);
}

@media (max-width: 767px){
    .sobre-nosotros{
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }

}


aside{
    border: solid rgba(128, 0, 167, 0.466);
}

.aside h3{
    background-color: rgba(128, 0, 167, 0.466);
    text-align: center;
    color: white;
    margin: 0;
    font-size: 50px;
    padding: 5px;
}

.casos-de-exito{
    padding: 5px;
    height: 1150px;
    overflow: scroll;
}

.caso{
    opacity: .8;
}

.caso:hover{
    opacity: 1;
}

.caso:hover h5{
    text-decoration: underline;
}

.caso img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.caso h5{
    background-color: rgba(128, 0, 167, 0.466);
    margin-top: 0;
    margin-bottom: 5px;
    padding-block: 10px;
    padding-inline: 7px;
    font-size: 25px;
    color: white;
}

.final-nosotros{
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.048);
    height: 600px;
}



.foto-contacto{
    background-image: url(../img/soporte-contacto.webp);
    height: 500px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.final-nosotros h3{
    width: 800px;
    padding: 30px;
    font-size: 70px;
}

.final-nosotros a{
    color: rgba(128, 0, 167, 0.466);
}

.final-nosotros a:hover{
    text-decoration: underline;
}

@media (max-width: 800px){
    .final-nosotros{
        flex-wrap: wrap;
        height: auto;
    }

    .foto-contacto{
        height: 300px;
        width: 450px;
    }

    .final-nosotros h3{
        text-align: center;
    }
}

@media (max-width: 767px){
    .final-nosotros h3{
        font-size: 2.5rem;
    }
}
